<!DOCTYPE HTML>

<html>
	<head>
		<title>OPC UA Demo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/html5shiv.js') }}"></script><![endif]-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie8.css') }}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie9.css') }}" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="{{ url_for('index') }}">opc ua demo</a></h1>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">

					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('index') }}">About me</a></li>
					<li><a href="{{ url_for('index') }}">Brief Manual</a></li>
					</li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
<!--				<i class="icon fa-bar-chart"></i>-->
				<h2>Data Presentation website</h2>
				<p>from PLC to Cloud</p>
				<ul class="actions">
					<li><a href="http://localhost:5601/goto/6300ec3bfc3d9edba9ba264cd5843937" target="_blank" class="button big special">dashboard</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src= "{{ url_for('static', filename='images/tben.jpg') }}" alt="" /></span>
						<div class="content">
							<h2>Factory side Architecture</h2>
							<p>from Multi-PLCs to UPC UA </p>
							<ul class="actions">
								<li>
									<a href="{{ url_for('index') }}" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature left">
						<span class="image"><img src= "{{ url_for('static', filename='images/tben1.jpg') }}" alt="" /></span>
						<div class="content">
							<h2>Data Logging Architecture</h2>
							<p>Logstash, Elasticsearch, Kibana, and Flask</p>
							<ul class="actions">
								<li>
									<a href="{{ url_for('index') }}" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>&copy; Made by John</li>
						<li>E-mail: <a href="dongwoo.john.ku@gmail.com">dongwoo.john.ku@gmail.com</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->


			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<!--[if lte IE 8]><script src="{{ url_for('static', filename='js//ie/respond.min.js') }}"></script><![endif]-->
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
